table tr th,
table tr td {
    padding: .5625em .625em;
}

#content h1>a.anchor,
h2>a.anchor,
h3>a.anchor,
#toctitle>a.anchor,
.sidebarblock>.content>.title>a.anchor,
h4>a.anchor,
h5>a.anchor,
h6>a.anchor {
    position: absolute;
    z-index: 1001;
    width: 1.5ex;
    margin-left: -1.5ex;
    display: block;
    text-decoration: none!important;
    visibility: hidden;
    text-align: center;
    font-weight: 400
}

#content h1>a.anchor::before,
h2>a.anchor::before,
h3>a.anchor::before,
#toctitle>a.anchor::before,
.sidebarblock>.content>.title>a.anchor::before,
h4>a.anchor::before,
h5>a.anchor::before,
h6>a.anchor::before {
    content: "\00A7";
    font-size: .85em;
    display: block;
    padding-top: .1em
}

#content h1:hover>a.anchor,
#content h1>a.anchor:hover,
h2:hover>a.anchor,
h2>a.anchor:hover,
h3:hover>a.anchor,
#toctitle:hover>a.anchor,
.sidebarblock>.content>.title:hover>a.anchor,
h3>a.anchor:hover,
#toctitle>a.anchor:hover,
.sidebarblock>.content>.title>a.anchor:hover,
h4:hover>a.anchor,
h4>a.anchor:hover,
h5:hover>a.anchor,
h5>a.anchor:hover,
h6:hover>a.anchor,
h6>a.anchor:hover {
    visibility: visible
}

.admonitionblock>table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%
}

.admonitionblock>table td.icon {
    text-align: center;
    width: 80px
}

.admonitionblock>table td.icon img {
    max-width: none
}

.admonitionblock>table td.icon .title {
    font-weight: bold;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    text-transform: uppercase
}

.admonitionblock>table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-left: 1px solid $color-secondary;
}

.admonitionblock>table td.content>:last-child>:last-child {
    margin-bottom: 0
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    cursor: default
}

.admonitionblock td.icon .icon-note::before {
    content: "\f05a";
    color: #19407c;
}

.admonitionblock td.icon .icon-tip::before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
    color: #111
}

.admonitionblock td.icon .icon-warning::before {
    content: "\f071";
    color: #bf6900
}

.admonitionblock td.icon .icon-caution::before {
    content: "\f06d";
    color: #bf3400
}

.admonitionblock td.icon .icon-important::before {
    content: "\f06a";
    color: #bf0000
}

.conum[data-value] {
    display: inline-block;
    color: #fff!important;
    background: rgba(0, 0, 0, .8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-style: normal;
    font-weight: bold
}

.conum[data-value] * {
    color: #fff!important
}

.conum[data-value]+b {
    display: none
}

.conum[data-value]::after {
    content: attr(data-value)
}

pre .conum[data-value] {
    position: relative;
    top: -.125em
}

b.conum * {
    color: inherit!important
}

.conum:not([data-value]):empty {
    display: none
}

td.content>.title,
.audioblock>.title,
.exampleblock>.title,
.imageblock>.title,
.listingblock>.title,
.literalblock>.title,
.stemblock>.title,
.openblock>.title,
.paragraph>.title,
.quoteblock>.title,
table.tableblock>.title,
.verseblock>.title,
.videoblock>.title,
.dlist>.title,
.olist>.title,
.ulist>.title,
.qlist>.title,
.hdlist>.title {
    line-height: 1.45;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .25em
}

details,
.audioblock,
.imageblock,
.literalblock,
.listingblock,
.stemblock,
.videoblock {
    margin-bottom: 1.25em
}

td.content>.title,
.audioblock>.title,
.exampleblock>.title,
.imageblock>.title,
.listingblock>.title,
.literalblock>.title,
.stemblock>.title,
.openblock>.title,
.paragraph>.title,
.quoteblock>.title,
table.tableblock>.title,
.verseblock>.title,
.videoblock>.title,
.dlist>.title,
.olist>.title,
.ulist>.title,
.qlist>.title,
.hdlist>.title {
    text-rendering: optimizeLegibility;
    text-align: left;
    font-size: 1rem;
    font-style: italic
}

th.halign-left,
td.halign-left {
    text-align: left
}

th.halign-right,
td.halign-right {
    text-align: right
}

th.halign-center,
td.halign-center {
    text-align: center
}

th.valign-top,
td.valign-top {
    vertical-align: top
}

th.valign-bottom,
td.valign-bottom {
    vertical-align: bottom
}

th.valign-middle,
td.valign-middle {
    vertical-align: middle
}

.imageblock.left {
    margin: .25em .625em 1.25em 0
}

.imageblock.right {
    margin: .25em 0 1.25em .625em
}

.imageblock>.title {
    margin-bottom: 0
}

.imageblock.thumb,
.imageblock.th {
    border-width: 6px
}

.imageblock.thumb>.title,
.imageblock.th>.title {
    padding: 0 .125em
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.stretch {
    width: 100%;
}

.aqua {
    color: #00bfbf !important
}

.aqua-background {
    background: #00fafa !important
}

.black {
    color: #000 !important
}

.black-background {
    background: #000 !important
}

.blue {
    color: #0000bf !important
}

.blue-background {
    background: #0000fa !important
}

.fuchsia {
    color: #bf00bf !important
}

.fuchsia-background {
    background: #fa00fa !important
}

.gray {
    color: #606060 !important
}

.gray-background {
    background: #7d7d7d !important
}

.green {
    color: #006000 !important
}

.green-background {
    background: #007d00 !important
}

.lime {
    color: #00bf00 !important
}

.lime-background {
    background: #00fa00 !important
}

.maroon {
    color: #600000 !important
}

.maroon-background {
    background: #7d0000 !important
}

.navy {
    color: #000060 !important
}

.navy-background {
    background: #00007d !important
}

.olive {
    color: #606000 !important
}

.olive-background {
    background: #7d7d00 !important
}

.purple {
    color: #600060 !important
}

.purple-background {
    background: #7d007d !important
}

.red {
    color: #bf0000 !important
}

.red-background {
    background: #fa0000 !important
}

.silver {
    color: #909090 !important
}

.silver-background {
    background: #bcbcbc !important
}

.teal {
    color: #006060 !important
}

.teal-background {
    background: #007d7d !important
}

.white {
    color: #bfbfbf !important
}

.white-background {
    background: #fafafa !important
}

.yellow {
    color: #bfbf00 !important
}

.yellow-background {
    background: #fafa00 !important
}

.quoteblock {
    margin: 3rem;
    color: $color-primary-dark;
    font-style: italic;
}

.quoteblock blockquote::before {
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: .6em;
    margin-left: -.6em;
    color: #943000;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

// Overrides
table {
    margin-bottom: 1.5rem;
}

table.tableblock {
    box-sizing: border-box;
}

table.tableblock thead th,
table.tableblock tbody th {
    font-size: 0.9rem;
    padding: 0.5rem;
}

table.tableblock tbody tr td {
    padding: 0.5rem
}

table.tableblock tbody tr td p {
    font-size: 0.9rem
}

table.configuration-reference a {
    text-decoration: none;
}

table.configuration-reference {
    table-layout: inherit;
}

#content h1>a.anchor::before,
h2>a.anchor::before {
    padding-top: .3em
}

.admonitionblock>table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: auto
}

.admonitionblock td.icon {
    border: none !important;
}

.admonitionblock td.content {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.admonitionblock td.icon .icon-note::before {
    color: $color-primary;
}

.admonitionblock td.icon .icon-tip::before {
    color: #943000;
    text-shadow: inherit;
}

.conum[data-value] {
    color: black !important;
    background: #CCC;
}

.conum[data-value] * {
    color: black !important
}

.admonitionblock>table td.content {
    font-weight: 400;
    line-height: 1.5rem;
}

.quoteblock blockquote::before {
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: .6em;
    margin-left: -.6em;
    color: $color-primary;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}