.button-rounded {
    border-radius: 3.125rem;
}

.button {
    border-bottom: 0;
    padding: 0;
    font-family: $font-highlight;
    font-weight: 500;
    display: inline-block;
    margin: 0 0 1.25rem 0;

    .las {
        position: relative;
        bottom: -.125rem;
        float: right;
        font-size: 1.375rem;
        margin-left: .75rem;
    }

    .left {
        float: left;
        margin-left: 0;
        margin-right: .75rem;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem $color-secondary;
    }

}

.button-dark {
    color: $button-text-color;
    background-color: $button-background-color;
    padding: .5625rem 1.5625rem;
    transition: color .2s, background-color .2s;
    font-size: large;
    &:hover {
        background-color: $button-background-color-hover;
        border-color: $button-border-color;
    }
    &:active {
        background-color: $button-background-color-hover;
        border-color: $button-border-color;
    }
    &:focus {
        background-color: $button-background-color-hover;
        border-color: $button-border-color;
        box-shadow: 0 0 0 0.2rem darken($color-primary, $dark-value);

    }
}
