/*
font-family: 'Bangers', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Fire Code', monospace;
 */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:wght@100;400&family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Red+Hat+Text:wght@400;500&display=swap');
