table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0 0 1.25rem 0;
  border-spacing: 2px;
  border-color: $border-color;
}

table th {
  font-family: "Montserrat",sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: large;
  background-color: $color-gray-100;
  border-color: $border-color;
}

table th, table td {
  border: 2px solid $border-color;
  vertical-align: middle;
  padding: .625rem .9375rem;
}