
a {
  color: $link-color;
  text-decoration: none;
  border-bottom: .0625em solid inherit;
  padding-bottom: .125em;
  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}

code, tt {
  font-family: $font-code;
  color: $font-code-color;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-highlight;
  color: $color-primary;
  font-weight: 400;
  line-height: 1.5em;
  margin: 2.5rem 0 .9375rem 0;
}

h3,
.h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 2em;
  font-weight: 700;
  border-bottom: $border-color;
  padding-bottom: .5rem;
}