---
name: Check pull requests
on:
  pull_request:
    branches-ignore:
      - '1.x'

concurrency:
  group: "check-pull-request-${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [
          { 'version': '11', 'opts': '' },
          { 'version': '17', 'opts': '' },
          { 'version': '21', 'opts': '' },
          { 'version': '23', 'opts': '' }
        ]
    name: Build with Java ${{ matrix.java.version }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        name: set up jdk ${{matrix.java.version}}
        with:
          distribution: temurin
          java-version: ${{matrix.java.version}}
          cache: maven
      - name: Build with Maven
        env:
          MAVEN_OPTS: ${{ matrix.java.opts }}
        run: ./mvnw --no-transfer-progress -s .build/maven-ci-settings.xml -B clean verify -Pcoverage
      - name: Codecov
        uses: codecov/codecov-action@v5.1.1

  conventional-commits:
    runs-on: ubuntu-latest
    name: Check conventional commits
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v6
        if: (github.actor!= 'dependabot[bot]') && (contains(github.head_ref, 'dependabot/') == false)

  compatibility:
    runs-on: ubuntu-latest
    name: Compatibility Check
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Compatibility Check
        run: ./mvnw --no-transfer-progress -s .build/maven-ci-settings.xml -pl '!bom' -B install revapi:check@check-compatibility -DskipTests -fae
