---
name: Continuous Integration Build
on:
  push:
    branches:
      - master
    paths-ignore:
      - '.build/**'
      - '.github/workflows/deployment.yml'

jobs:
  build_java8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install JDK 1.8
        uses: joschi/setup-jdk@v1.0.0
        with:
          java-version: 'openjdk8'
      - name: Build with Maven
        run: mvn -B clean install --file pom.xml

  build_java11:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install JDK 11
        uses: joschi/setup-jdk@v1.0.0
        with:
          java-version: 'openjdk11'
      - name: Build with Maven
        run: mvn -B clean install --file pom.xml

  build_java12:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install JDK 12
        uses: joschi/setup-jdk@v1.0.0
        with:
          java-version: 'openjdk12'
      - name: Build with Maven
        run: mvn -B clean install --file pom.xml

# The download of Java 13 is too brittle to be used
#  build_java13:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v1
#      - name: Install JDK 13
#        uses: joschi/setup-jdk@v1.0.0
#        with:
#          java-version: 'openjdk13'
#      - name: Build with Maven
#        run: mvn -B clean install --file pom.xml

  quality:
    needs: [build_java8, build_java11, build_java12]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Coverage and Sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_LOGIN }}
        run: |
          mvn verify -Pcoverage
          mvn sonar:sonar \
            -Dsonar.projectKey=smallrye_smallrye-mutiny \
            -Dsonar.projectName="SmallRye Mutiny" \
            -Dsonar.organization=smallrye \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=$SONAR_LOGIN \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/jacoco.xml
