---
name: Check pull requests

on: pull_request

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        java: [
          { 'version': '8', opts: '' },
          { 'version': '11', opts: '' },
          { 'version': '17', 'opts': '' }
        ]
    name: Build with Java ${{ matrix.java.version }}
    steps:
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: maven-java-${{ matrix.java.version }}
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        name: set up jdk ${{matrix.java.version}}
        with:
          distribution: temurin
          java-version: ${{matrix.java.version}}
      - name: Build with Maven
        env:
          MAVEN_OPTS: ${{ matrix.java.opts }}
        run: mvn -s .build/maven-ci-settings.xml -B clean verify -Pcoverage
      - name: Codecov
        uses: codecov/codecov-action@v1.0.13
  compatibility:
    runs-on: ubuntu-20.04
    name: Compatibility Check
    steps:
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: maven-java-11
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: temurin
      - name: Compatibility Check
        run: mvn -s .build/maven-ci-settings.xml -pl '!bom' -B install revapi:check@check-compatibility -DskipTests -fae
