---
name: Website deployment
on:
  workflow_dispatch:
  push:
    branches:
      - "!*"
    tags:
      - '[2-9]+.[0-9]+.[0-9]+*'
jobs:
  deploy-web-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.ref }}
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Install JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: 'Setup Ruby'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - name: 'Web Site'
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          REF: ${{ github.event.ref }}
          SECRET_FILES_PASSPHRASE: ${{ secrets.SECRET_FILES_PASSPHRASE }}
        run: |
          MUTINY_VERSION=$(cat documentation/src/main/jekyll/_data/versions.yml | grep mutiny_version | awk '{print $2}')
          echo "Deploying web site for Mutiny ${MUTINY_VERSION}"

          sudo apt-get update -o Dir::Etc::sourcelist="sources.list" \
            -o Dir::Etc::sourceparts="-" -o APT::Get::List-Cleanup="0"
          sudo apt-get install -y gnupg2 gnupg-agent

          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "smallrye@googlegroups.com"

          curl -s "https://get.sdkman.io" | bash
            source ~/.sdkman/bin/sdkman-init.sh && \
            sdk install jbang

          echo "Waiting for artifacts to be available from Maven Central"
          jbang .build/WaitForCentral.java \
            --artifacts=io.smallrye.reactive:mutiny,io.smallrye.reactive:mutiny-smallrye-context-propagation,io.smallrye.reactive:mutiny-test-utils,io.smallrye.reactive:mutiny-kotlin,io.smallrye.reactive:mutiny-reactor,io.smallrye.reactive:mutiny-rxjava \
            --expected-version="${MUTINY_VERSION}"

          echo "Run the deployment script"
          .build/deploy-site.sh
